@import 'setup';
@import 'mixins';
@import 'variables';

// font-family: 'Rubik', sans-serif;
// font-family: 'Roboto Mono', monospace;

// /*            WRAPPER/HELLO
// =========================================*/

.wrapper {
	width: 1080px;
	margin: 0 auto;
}
body {
	background-color: #000;
	color: white;
}

h1 {margin: 0;}

::-webkit-scrollbar {display:none;}

ul {padding: 0;list-style-type: none;}

// /*            HEADER
// =========================================*/

header {
	padding: 20px;
	background: #000;
}

.header--left.clearfix {
	display: inline-block;
	margin: 0;
	img.logo {
		float: left;
		height: 50px;
		display: inline-block;
		margin: 0 0 0 15px;
	}
	h1{
		float: left;
		padding: 15px 0 0 20px;
		color: #fff;
		font-family: $headingFont;
		font-size: 22px;
		letter-spacing: 1.6px;
		text-transform: uppercase;
	}
}

.header--right.clearfix {
	float: right;
	display: inline-block;
	margin-right: 15px;
	ul li{
		float: left;
		padding-bottom: 15px;
	}
}

a {
	text-decoration: none;
	color: $brandColour2;
	font-family: $bodyFont;
	letter-spacing: 1.4px;
	font-size: 16px;
	&:hover {
		color: $brandColour1;
	}
}

#gallery {
	overflow-x: auto;
	background-color: #000;
	height: 475px;
	margin: auto;
	position: absolute;
	.imgHolder {
		display: inline-block;
		img {
			width: 100%;
		}
	}
}

// /*            MAIN
// =========================================*/

#info {
	display: inline-block;
	color: white;
	font-family: 'Roboto Mono', monospace;
	height: 400px;
	p {
		display: block;
	}
}

.row {
	width: 100%;
	position: absolute;
	.row__inner {
		font-size: 0;
		white-space: nowrap;
		padding-bottom: 10px;
	}
}

.imageTile {
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 1px;
	font-size: 20px;
	cursor: pointer;
	padding-top: 100px;
	&:hover::before {
		content: url('/public/images/i_circle.svg');
		z-index: 10;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%)
	}
	&:hover::after {
		content: "";
		background: rgba(0, 0, 0, .6);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.imgHolder {
	transition: all 0.4s;
	&:hover{
		transform: scale(1.3);
		margin-left: 4%;
		margin-right: 4%;
	}
}

// /*            INFO SECTION
// =========================================*/

#info h2 {
	color: white;
	font-size: 30px;
	margin: 50px 0;
	font-family: $headingFont;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 600px;
	display:inline-block;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
}

.artist h4 {
	float: left;
	font-size: 20px;
	margin: 0;
	margin-right: 15px;
}

.album__name h4 {
	color: #696969;
	float: left;
	margin-right: 20px;
	vertical-align: center;
}

.track__name h4 {
	color: #fff;
	float: left;
	margin-right: 20px;
}

.button__set-1, .button__set-2 {
	float: left;
	span {
		clear: both;
		font-size: 20px;
		letter-spacing: 1.4px;
		color: #1be68d;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 5px;
		padding-bottom: 5px;
		border: 1.5px solid #1be68d;
		border-radius: 20px;
		margin: 10px;
		text-transform: uppercase;
	}
}

#splash img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	margin: 80px;
	opacity: 0.3;
}