@import 'setup';
@import 'mixins';
@import 'variables';

// font-family: 'Rubik', sans-serif;
// font-family: 'Roboto Mono', monospace;

// /*            WRAPPER/HELLO
// =========================================*/

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

body {
	background-color: #000;
	color: white;
}

h1 {
	margin: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

// /*            HEADER
// =========================================*/

.wrapper {
	// border: 1px solid #fff;
}

img.logo {
	float: left;
	// width: 10%;
	height: 50px;
	display: inline-block;
	// background: #fff;
	margin: 0;
}

header {
	padding: 20px;
	background: #000;
}

.header--left.clearfix {
	display: inline-block;
	width: 30%;
	margin: 0;
	// border: 1px solid #fff;
}

.header--left h1 {
	float: left;
	padding: 15px 0 0 20px;
	color: #fff;
	font-family: $headingFont;
	font-size: 22px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	// font-weight: 900;
	// border: 1px solid #fff;
}

.header--right.clearfix {
	// width: 49%;
	// clear: both;
	display: inline-block;
	// border: 1px solid #fff;
	// margin-left: 90px;
}

.header--right ul li {
	float: left;
	padding-bottom: 15px;
}

li {
	margin-right: 30px;
}

a {
	color: $brandColour2;
	font-family: $bodyFont;
	letter-spacing: 1.4px;
	font-size: 12px;
}

a:hover {
	color: $brandColour1;
}

li:last-child{
		margin: 0;
}

#gallery {
	position: absolute;
}

.imgHolder {
	display: inline-block;
	// width: 20%;
	img {
		width: 100%;
	}
}

// /*            MAIN
// =========================================*/

#info {
	display: inline-block;
	color: white;
	font-family: 'Roboto Mono', monospace;
	height: 400px;
}

#gallery {
	overflow-x: auto;
	background-color: #000;
	height: 475px;
	margin: auto;
}

::-webkit-scrollbar {display:none;}

.row {
	width: 100%;
	position: absolute;
}

.row__inner {
	font-size: 0;
	white-space: nowrap;
	padding-bottom: 10px;
}

.imageTile {
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 1px;
	font-size: 20px;
	cursor: pointer;
	padding-top: 100px;
}

.imgHolder {
	transition: all 0.4s;
}

.imageTile:hover::before {
	content: "";
	width: 100px;
	height: 100px;
	border: 10px solid $brandColour2;
	color: $brandColour2;
	border-radius: 100%;
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)
}

.imageTile:hover::after {
	content: "i";
	display: block;
	font-size: 70px;
	z-index: 20;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.imgHolder:hover {
	transform: scale(1.3);
	margin-left: 4%;
	margin-right: 4%;
}

/*            INFO SECTION
=========================================*/

#info h2 {
	color: white;
	font-size: 50px;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

#info h4 {
	float: left;
	font-size: 20px;
	margin: 0;
	margin-right: 25px;
}